.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.content {
    min-width: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 16px 16px 0 0;
}
