.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 0 0 16px 16px;
}

.button {
    width: 100px;
    height: 40px;
    margin-left: 20px;
    color: white;
    background-color: teal;
    border-radius: 16px;
}